body {
  background-color: #fcfeff;
  font-family: "monospace";
  display: block;
  margin: 3;
}

.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

#guesses-left { 
  color: red;
}


.container {
  text-align: center;
  display: inline-block;
}
