{% extends "base.html" %} 

{% block main %}
        <!--Display word to guessess -->
        <div class="container">

        <div>
            <h1>{{display}}</h1> 
        </div>
        <div>
            <h1>{{guesses_left}}</h1>
        </div>
    </div>

        <!-- Show number of incorrect guesses left-->
        <div class="container">
            <h6>You have <span id="guesses-left"></span> incorrect guesses left.</h6>
        </div>
        <br>

        <!-- Show all letters guessed -->
        <div class="container">
            <h5>You've already guessed the following: <span id="letters-guessed">
            <p>{% for letter in session['all_guesses'] %}
                {% if letter not in session['show'] %}
                <u>{{letter}}</u>
                {% endif %}
                {% endfor %}
            </p> 
            </span></h5>
        </div>
        <br>


        <!-- Enter Letter -->
        <div class="container">
            <form action="/guess-letter" method='POST'>
                Guess a letter: <input type="text" name="guess-letter" maxlength="1" pattern="[A-Za-z]" size="2" autocomplete="off" required>
                <input type="submit" value="Enter">
            </form>
        </div>
        <br>

        <!-- Enter word -->
        <div class="container">
            <form action="/check-word">
                Guess the word: <input type="text" name="guessed-word" size="10" autocomplete="off" required>
                <input type="submit" value="Enter">
            </form>
        </div>
        <div>
            <h1>{{session['word']}}</h1>
        </div>
<!--         <div>
            <p>{% for letter in session['all_guesses'] %}
                <u>{{letter}}</u>
                {% endfor %}
            </p> 
         </div> -->
<!--         <div>
            <h1>{{display}}</h1> 
        </div>
 -->

{% endblock %}