{% extends "base.html" %} 

{% block title %}Guessing-Game{% endblock %}

{% block main %}

        <!--Display word to guessess -->
    <div class="container">
        <div>
            <h1>{{display}}</h1>
            <h2>{{session['word']}}</h2> 
        </div>
    </div>
    <br>

    <!-- Show number of incorrect guesses left-->
    <div class="container">
        <h6>You have <span id="guesses-left"><font size="3" color="red">{{guesses_left}}</font></span> incorrect guesses left.</h6>
    </div>
    <br>

    <!-- Show all letters guessed -->
    <div class="container">
        {% if session['all_guesses']|length >= 1 %}

            <h5>You've already guessed the following: 
                <span id="letters-guessed">
                    <font size="3" color="green">
                    <p>{% for letter in session['all_guesses'] %}
                        {% if letter not in session['show'] %}
                        <u>{{letter}}</u>
                        {% endif %}
                        {% endfor %}
                    </p> 
                </font>
                </span>
            </h5>
        {% endif %}
     </div>
    <br>


    <!-- Enter Letter -->
    <div class="container">
        <form action="/guess-letter" method='POST'>
            Guess a letter: <input type="text" name="guess-letter" maxlength="1" pattern="[A-Za-z]" size="2" autocomplete="off" required>
            <input type="submit" value="Enter">
        </form>
    </div>
    <br>


    <!-- Enter word -->
    <div class="container">
        <form action="/check-word" method='POST'>
            Guess the word: <input type="text" name="guessed-word" size="10" autocomplete="off" required>
            <input type="submit" value="Enter">
        </form>
    </div>


{% endblock %}