{% extends "base.html" %} 

{% block main %}
        <!--Show word spaces -->

        <!-- Show number of incorrect guesses left-->
        <div class="container">
            <h6>You have <span id="guesses-left"></span> incorrect guesses left.</h6>
        </div>
        <br>
        <!-- Show all letters guessed -->
        <div class="container">
            <h6>You've already guessed the following: <span id="letters-guessed"></span>.</h6>
        </div>
        <br>


        <!-- Enter Letter -->
        <div class="container">
            <form action="/guess-letter" method='POST'>
                Guess a letter: <input type="text" name="guess-letter" maxlength="1" pattern="[A-Za-z]" size="2" autocomplete="off">
                <input type="submit" value="Enter">
            </form>
        </div>
        <br>

        <!-- Enter word -->
        <div class="container">
            <form action="/check-word">
                Guess word: <input type="text" name="guessed-word" size="10" autocomplete="off">
                <input type="submit" value="Enter">
            </form>
        </div>
        <div>
            <h1>{{session['word']}}</h1>
        </div>
        <div>
            <h1>{% for letter in session['all_guesses'] %}
                <li>{{letter}}</li>
                {% endfor %}
            </h1> 
         </div>
            <div>
            <h1>{{display}}
            </h1> 
        </div>


{% endblock %}